<th:block xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><img src="/assets/img/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/shop">shop</a></li>
                                    <li><a href="/about">about</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <ul>
                                <li>
                                    <div class="nav-search search-switch">
                                        <span class="flaticon-search"></span>
                                    </div>
                                </li>
                                <li><a sec:authorize="isAnonymous()" href="/users/login"><span
                                        class="flaticon-user"></span></a></li>
                                <li><a sec:authorize="isAuthenticated" href="/users/profile"><span
                                        class="flaticon-user"></span></a></li>

                                <li>
                                    <form th:method="post" th:action="@{/users/logout}">
                                        <input type="hidden"
                                               th:name="${_csrf.parameterName}"
                                               th:value="${_csrf.token}"/>
                                        <button class="button-header" type="submit"
                                            sec:authorize="isAuthenticated">
                                            <img
                                            src="https://www.vhv.rs/dpng/d/268-2680828_transparent-faze-adapt-png-log-out-icon-vector.png"
                                            width="25" height="25"
                                            alt=""></button>
                                    </form>
                                </li>
                                <li><a href="/cart"><span class="flaticon-shopping-cart"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
</th:block>