<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<th:block th:include="~{/fragments/header}"></th:block>
<hr>


<div class="container bootstrap snippet">
    <div class="row">
        <div th:object="${productCategoryBindingModel}" class="col-sm-3"><!--left col-->


            <div class="text-center">
                <img th:src="${userUpdate.profilePicture}"
                     class="avatar img-circle img-thumbnail"
                     alt="avatar">
            </div>
            </hr><br>


            <div class="panel panel-default">
                <div class="panel-heading">Admin panel <i class="fa fa-link fa-1x"></i></div>
                <ul class="list-group">
                    <li class="list-group-item text-right"><span class="pull-left"><a href="/product/add">
                    <strong>Upload Product</strong></a></span>
                    </li>
                    <li class="list-group-item text-right"><span class="pull-left"><a href="/users/roles/add">
                    <strong>Change Role</strong></a></span>
                    </li><li class="list-group-item text-right"><span class="pull-left"><a href="/category/add">
                    <strong>Add Product Category</strong></a></span>
                    </li>
                    <li class="list-group-item text-right">
                        <span class="pull-left">
                            <a href="/blog/category/add">
                                <strong>Add Blog Category</strong>
                            </a>
                        </span>
                    </li>
                </ul>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">Activity</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span>
                            125
                        </li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13
                        </li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37
                        </li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span>
                            78
                        </li>
                    </ul>
                </div>
            </div>

        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab">Add product Category</a></li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="add-product">
                    <hr>
                    <form class="form" th:action="@{/category/add}" th:method="post">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="category"><h4>Category name</h4></label>
                                <input th:value="${productCategoryBindingModel.category}" type="text" class="form-control"
                                       name="category"
                                       id="category"
                                       placeholder="Product name" title="enter your category name">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="description"><h4>Description</h4></label>
                                <input th:value="${productCategoryBindingModel.description}" type="text" class="form-control"
                                       name="description" id="description"
                                       placeholder="Description" title="enter your category description">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i
                                        class="glyphicon glyphicon-ok-sign"></i> Add Category
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->

<th:block th:include="~{fragments/footer}"></th:block>
</body>