<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<th:block th:include="~{/fragments/header}"></th:block>
<hr>


<div class="container bootstrap snippet">
    <div class="row">
        <th:block th:include="~{fragments/navbar-profile}"></th:block>
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab">Change user role</a></li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="add-product">
                    <hr>
                    <form action="/users/roles/add" method="post"
                          class="tm-edit-product-form">
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                        <div class="form-group col-xs-6">
                            <label for="username"
                                   class="form-group col-xs-6">Users</label>
                            <select class="form-group col-xs-6" id="username"
                                    name="username">
                                <option value="" selected>Select user</option>
                                <option
                                        th:each="user : ${users}"
                                        th:value="${user.username}"
                                        th:text="${user.username}">
                                </option>

                            </select>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="form-group col-xs-6">Roles</label>
                            <div>
                                <input type="radio" id="user" name="role" value="user">
                                <label for="user">User</label><br/>
                                <input type="radio" id="admin" name="role" value="admin">
                                <label for="admin">Admin</label><br/>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                <button type="submit" class="btn btn-primary">Change
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->

<th:block th:include="~{fragments/footer}"></th:block>
</body>