<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

    <th:block th:include="~{fragments/head}"></th:block>

<body>
<th:block th:include="~{/fragments/header}"></th:block>
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Something went wrong!</h2>
                            <h3><span th:text="${exception}"></span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>