<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<th:block th:include="~{/fragments/header}"></th:block>
<hr>


<div class="container bootstrap snippet">
    <div class="row">
        <div th:object="${userUpdate}" class="col-sm-3"><!--left col-->


            <div class="text-center">
                <img th:src="${userUpdate.profilePicture}"
                     class="avatar img-circle img-thumbnail"
                     alt="avatar">
            </div>
            </hr><br>


            <div sec:authorize="hasAuthority('ADMIN')" class="panel panel-default">
                <div class="panel-heading">Admin panel <i class="fa fa-link fa-1x"></i></div>
                <ul class="list-group">
                    <li class="list-group-item text-right"><span class="pull-left"><a href="/product/add">
                    <strong>Upload Product</strong></a></span>
                    </li>
                    <li class="list-group-item text-right"><span class="pull-left"><a href="/users/roles/add">
                    <strong>Change Role</strong></a></span>
                    </li>
                    </li>
                    <li class="list-group-item text-right">
                        <span class="pull-left">
                            <a href="/category/add">
                                <strong>Add Product Category</strong>
                            </a>
                        </span>
                    </li>
                    <li class="list-group-item text-right">
                        <span class="pull-left">
                            <a href="/blog/category/add">
                                <strong>Add Blog Category</strong>
                            </a>
                        </span>
                    </li>
                </ul>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">Activity</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span>
                            125
                        </li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13
                        </li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37
                        </li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span>
                            78
                        </li>
                    </ul>
                </div>
            </div>

        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="/users/profile">Profile information</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="update">
                    <hr>
                    <form class="form" th:action="@{/users/update}" th:method="post">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="firstName"><h4>First name</h4></label>
                                <input th:value="${userUpdate.firstName}" type="text" class="form-control"
                                       name="firstName"
                                       id="firstName"
                                       placeholder="First Name" title="enter your first name if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="lastName"><h4>Last name</h4></label>
                                <input th:value="${userUpdate.lastName}" type="text" class="form-control"
                                       name="lastName" id="lastName"
                                       placeholder="Last Name" title="enter your last name if any.">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="phone"><h4>Phone Number</h4></label>
                                <input th:value="${userUpdate.phone}" type="number" class="form-control" name="phone"
                                       id="phone"
                                       placeholder="enter phone number" title="enter your phone number if any.">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="email"><h4>Email</h4></label>
                                <input th:value="${userUpdate.email}" type="email" class="form-control" name="email"
                                       id="email"
                                       placeholder="you@email.com" title="enter your email.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="city"><h4>City</h4></label>
                                <input th:value="${userUpdate.address.city}" type="text" class="form-control"
                                       name="city" id="city"
                                       placeholder="City" title="enter a city">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="email"><h4>Country</h4></label>
                                <input th:value="${userUpdate.address.country}" type="text" class="form-control"
                                       id="country" name="country"
                                       placeholder="Country" title="enter a country">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="address1"><h4>Address 1</h4></label>
                                <input th:value="${userUpdate.address.getAddress1()}" type="text" class="form-control"
                                       id="address1" name="address1"
                                       placeholder="Address 1" title="enter an address">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="address2"><h4>Address 2</h4></label>
                                <input th:value="${userUpdate.address.address2}" type="text" class="form-control"
                                       id="address2" name="address2"
                                       placeholder="Address 2" title="enter an address">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="postCode"><h4>Post Code</h4></label>
                                <input th:value="${userUpdate.address.postCode}" type="text" class="form-control"
                                       id="postCode" name="postCode"
                                       placeholder="Post code" title="enter a post code">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="profilePicture"><h4>Profile Picture</h4></label>
                                <input th:value="${userUpdate.profilePicture}" type="text" class="form-control"
                                       id="profilePicture" name="profilePicture"
                                       placeholder="No profile picture" title="Enter profile picture URL">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password"><h4>Password</h4></label>
                                <input type="password" class="form-control" name="password" id="password"
                                       placeholder="password" title="enter your password.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="confirmPassword"><h4>Confirm Password</h4></label>
                                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                                       placeholder="password2" title="enter your password2.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i
                                        class="glyphicon glyphicon-ok-sign"></i> Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <hr>

                <!--                </div>&lt;!&ndash;/tab-pane&ndash;&gt;-->
                <!--                <div class="tab-pane" id="addNewProduct">-->

                <!--                    <h2></h2>-->

                <!--                    <hr>-->
                <!--                    <form class="form" action="/products-add" method="post" id="addProduct">-->
                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="first_name"><h4>Product Name</h4></label>-->
                <!--                                <input type="text" class="form-control" name="first_name" id="firstName"-->
                <!--                                       placeholder="first name" title="enter your first name if any.">-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="last_name"><h4>Description</h4></label>-->
                <!--                                <input type="text" class="form-control" name="last_name" id="last_name"-->
                <!--                                       placeholder="last name" title="enter your last name if any.">-->
                <!--                            </div>-->
                <!--                        </div>-->

                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="phone"><h4>Phone</h4></label>-->
                <!--                                <input type="text" class="form-control" name="phone" id="phone"-->
                <!--                                       placeholder="enter phone" title="enter your phone number if any.">-->
                <!--                            </div>-->
                <!--                        </div>-->

                <!--                        <div class="form-group">-->
                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="mobile"><h4>Mobile</h4></label>-->
                <!--                                <input type="text" class="form-control" name="mobile" id="mobile"-->
                <!--                                       placeholder="enter mobile number" title="enter your mobile number if any.">-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="email"><h4>Email</h4></label>-->
                <!--                                <input type="email" class="form-control" name="email" id="email"-->
                <!--                                       placeholder="you@email.com" title="enter your email.">-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="email"><h4>Location</h4></label>-->
                <!--                                <input type="email" class="form-control" id="location" placeholder="somewhere"-->
                <!--                                       title="enter a location">-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="password"><h4>Password</h4></label>-->
                <!--                                <input type="password" class="form-control" name="password" id="password"-->
                <!--                                       placeholder="password" title="enter your password.">-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="password2"><h4>Verify</h4></label>-->
                <!--                                <input type="password" class="form-control" name="password2" id="password2"-->
                <!--                                       placeholder="password2" title="enter your password2.">-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->
                <!--                            <div class="col-xs-12">-->
                <!--                                <br>-->
                <!--                                <button class="btn btn-lg btn-success" type="submit"><i-->
                <!--                                        class="glyphicon glyphicon-ok-sign"></i> Save-->
                <!--                                </button>-->
                <!--                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset-->
                <!--                                </button>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </form>-->

                <!--                </div>&lt;!&ndash;/tab-pane&ndash;&gt;-->
                <!--                <div class="tab-pane" id="adminPanel">-->


                <!--                    <hr>-->
                <!--                    <form class="form" action="/products-add" method="post" id="admin">-->
                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="first_name"><h4>First name</h4></label>-->
                <!--                                <input type="text" class="form-control" name="first_name" id="first_name"-->
                <!--                                       placeholder="first name" title="enter your first name if any.">-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="last_name"><h4>Last name</h4></label>-->
                <!--                                <input type="text" class="form-control" name="last_name" id="last_name"-->
                <!--                                       placeholder="last name" title="enter your last name if any.">-->
                <!--                            </div>-->
                <!--                        </div>-->

                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="phone"><h4>Phone</h4></label>-->
                <!--                                <input type="text" class="form-control" name="phone" id="phone"-->
                <!--                                       placeholder="enter phone" title="enter your phone number if any.">-->
                <!--                            </div>-->
                <!--                        </div>-->

                <!--                        <div class="form-group">-->
                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="mobile"><h4>Mobile</h4></label>-->
                <!--                                <input type="text" class="form-control" name="mobile" id="mobile"-->
                <!--                                       placeholder="enter mobile number" title="enter your mobile number if any.">-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="email"><h4>Email</h4></label>-->
                <!--                                <input type="email" class="form-control" name="email" id="email"-->
                <!--                                       placeholder="you@email.com" title="enter your email.">-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="email"><h4>Location</h4></label>-->
                <!--                                <input type="email" class="form-control" id="location" placeholder="somewhere"-->
                <!--                                       title="enter a location">-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="password"><h4>Password</h4></label>-->
                <!--                                <input type="password" class="form-control" name="password" id="password"-->
                <!--                                       placeholder="password" title="enter your password.">-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->

                <!--                            <div class="col-xs-6">-->
                <!--                                <label for="password2"><h4>Verify</h4></label>-->
                <!--                                <input type="password" class="form-control" name="password2" id="password2"-->
                <!--                                       placeholder="password2" title="enter your password2.">-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->
                <!--                            <div class="col-xs-12">-->
                <!--                                <br>-->
                <!--                                <button class="btn btn-lg btn-success pull-right" type="submit"><i-->
                <!--                                        class="glyphicon glyphicon-ok-sign"></i> Save-->
                <!--                                </button>-->
                <!--                                &lt;!&ndash;<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>&ndash;&gt;-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </form>-->
                <!--                </div>-->

            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->

<th:block th:include="~{fragments/footer}"></th:block>
<th:block th:include="~{fragments/script}"></th:block>
</body>
</html>