<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>
<body>
<th:block th:include="~{/fragments/header}"></th:block>
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Register</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>You have an account?</h2>
                            <p>If you already have an account you can:</p>
                            <a href="/users/login" class="btn_3">Log in</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Welcome! <br>
                                Please register now</h3>
                            <form th:object="${userRegisterModel}" class="row contact_form"
                                  th:action="@{/users/register}" th:method="post" novalidate="novalidate">
<!--                                <input type="hidden"-->
<!--                                       th:name="${_csrf.parameterName}"-->
<!--                                       th:value="${_csrf.token}"/>-->
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Username:</label>
                                            <input type="text" class="form-control" name="username"
                                                   th:value="*{username}"
                                                   aria-describedby="helpId" placeholder="Username">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('username')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="email" class="form-control" name="email" id="email"
                                                   th:value="*{email}" aria-describedby="emailHelpId"
                                                   placeholder="Email">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('email')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="password">Password:</label>
                                            <input type="password" class="form-control" name="password" id="password"
                                                   aria-describedby="helpId" placeholder="Password">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('password')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="confirmPassword">Repeat Password:</label>
                                            <input type="password" class="form-control" name="confirmPassword"
                                                   id="confirmPassword" placeholder="Repeat Password">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('confirmPassword')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="firstName">First Name:</label>
                                            <input type="text" class="form-control" name="firstName" id="firstName"
                                                   th:value="*{firstName}" aria-describedby="helpId"
                                                   placeholder="First name">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('firstName')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="lastName">Last Name:</label>
                                            <input type="text" class="form-control" name="lastName" id="lastName"
                                                   th:value="*{lastName}" aria-describedby="helpId"
                                                   placeholder="Last Name">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('lastName')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-12">
                                        <h4>Address and Phone number</h4>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="country">Country:</label>
                                            <input type="text" class="form-control" name="country" id="country"
                                                   th:value="*{country}" aria-describedby="helpId"
                                                   placeholder="Country">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('country')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="city">City:</label>
                                            <input type="text" class="form-control" name="city" id="city"
                                                   th:value="*{city}" aria-describedby="helpId" placeholder="City">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('city')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="postCode">Post code:</label>
                                            <input type="text" class="form-control" name="postCode" id="postCode"
                                                   th:value="*{postCode}" aria-describedby="helpId"
                                                   placeholder="Post code">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('postCode')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="address1">Address 1:</label>
                                            <input type="text" class="form-control" name="address1" id="address1"
                                                   th:value="*{address1}" aria-describedby="helpId" placeholder="Address 1">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('address2')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="address2">Address 2:</label>
                                            <input type="text" class="form-control" name="address2" id="address2"
                                                   aria-describedby="helpId" placeholder="Address 2">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('address2')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="phone">Phone number</label>
                                            <input type="text" class="form-control" name="phone" id="phone"
                                                   th:value="*{phone}" aria-describedby="helpId"
                                                   placeholder="Phone number">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('phone')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <!--                                        <div class="creat_account d-flex align-items-center">-->
                                    <!--                                            <input type="checkbox" id="f-option" name="selector">-->
                                    <!--                                            <label for="f-option">Remember me</label>-->
                                    <!--                                        </div>-->
                                    <button type="submit" value="submit" class="btn_3">
                                        register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================register_end =================-->
</main>
<th:block th:include="~{fragments/footer}"></th:block>
<!--? Search model Begin -->
<div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- JS here -->

<th:block th:include="~{fragments/script}"></th:block>

</body>

</html>