<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>
<body>
<th:block th:include="~{/fragments/header}"></th:block>
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Register</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>You have an account?</h2>
                            <p>If you already have an account you can:</p>
                            <a href="/users-login" class="btn_3">Log in</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Welcome! <br>
                                Please register now</h3>
                            <form th:object="${userRegisterModel}" class="row contact_form"
                                  th:action="@{/users-register}" th:method="post" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Username:</label>
                                            <input type="text" class="form-control" name="username"
                                                   th:value="*{username}"
                                                   aria-describedby="helpId" placeholder="Username">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('username')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="email" class="form-control" name="email" id="email"
                                                   th:value="*{email}" aria-describedby="emailHelpId"
                                                   placeholder="Email">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('email')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="password">Password:</label>
                                            <input type="password" class="form-control" name="password" id="password"
                                                   aria-describedby="helpId" placeholder="Password">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('password')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="confirmPassword">Repeat Password:</label>
                                            <input type="password" class="form-control" name="confirmPassword"
                                                   id="confirmPassword" placeholder="Repeat Password">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('confirmPassword')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="firstName">First Name:</label>
                                            <input type="text" class="form-control" name="firstName" id="firstName"
                                                   th:value="*{firstName}" aria-describedby="helpId"
                                                   placeholder="First name">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('firstName')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="lastName">Last Name:</label>
                                            <input type="text" class="form-control" name="lastName" id="lastName"
                                                   th:value="*{lastName}" aria-describedby="helpId"
                                                   placeholder="Last Name">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('lastName')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-12">
                                        <h4>Address and Phone number</h4>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="country">Country:</label>
                                            <input type="text" class="form-control" name="country" id="country"
                                                   th:value="*{country}" aria-describedby="helpId"
                                                   placeholder="Country">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('country')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="city">City:</label>
                                            <input type="text" class="form-control" name="city" id="city"
                                                   th:value="*{city}" aria-describedby="helpId" placeholder="City">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('city')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="postCode">Post code:</label>
                                            <input type="text" class="form-control" name="postCode" id="postCode"
                                                   th:value="*{postCode}" aria-describedby="helpId"
                                                   placeholder="Post code">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('postCode')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="address1">Address 1:</label>
                                            <input type="text" class="form-control" name="address1" id="address1"
                                                   th:value="*{address1}" aria-describedby="helpId" placeholder="Address 1">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('address2')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="address2">Address 2:</label>
                                            <input type="text" class="form-control" name="address2" id="address2"
                                                   aria-describedby="helpId" placeholder="Address 2">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('address2')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="phone">Phone number</label>
                                            <input type="text" class="form-control" name="phone" id="phone"
                                                   th:value="*{phone}" aria-describedby="helpId"
                                                   placeholder="Phone number">
                                            <small class="span-info-text-error"
                                                   th:each="error : ${#fields.errors('phone')}"
                                                   th:text="${error}"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <!--                                        <div class="creat_account d-flex align-items-center">-->
                                    <!--                                            <input type="checkbox" id="f-option" name="selector">-->
                                    <!--                                            <label for="f-option">Remember me</label>-->
                                    <!--                                        </div>-->
                                    <button type="submit" value="submit" class="btn_3">
                                        register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================register_end =================-->
</main>
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod
                                        tem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#"> Offers & Discounts</a></li>
                                <li><a href="#"> Get Coupon</a></li>
                                <li><a href="#"> Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>New Products</h4>
                            <ul>
                                <li><a href="#">Woman Cloth</a></li>
                                <li><a href="#">Fashion Accessories</a></li>
                                <li><a href="#"> Man Accessories</a></li>
                                <li><a href="#"> Rubber made Toys</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="#">Frequently Asked Questions</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Report a Payment Issue</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer bottom -->
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-8 col-md-7">
                    <div class="footer-copy-right">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
<!--? Search model Begin -->
<div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- JS here -->

<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="./assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="./assets/js/owl.carousel.min.js"></script>
<script src="./assets/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="./assets/js/wow.min.js"></script>
<script src="./assets/js/animated.headline.js"></script>

<!-- Scroll up, nice-select, sticky -->
<script src="./assets/js/jquery.scrollUp.min.js"></script>
<script src="./assets/js/jquery.nice-select.min.js"></script>
<script src="./assets/js/jquery.sticky.js"></script>
<script src="./assets/js/jquery.magnific-popup.js"></script>

<!-- contact js -->
<script src="./assets/js/contact.js"></script>
<script src="./assets/js/jquery.form.js"></script>
<script src="./assets/js/jquery.validate.min.js"></script>
<script src="./assets/js/mail-script.js"></script>
<script src="./assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="./assets/js/plugins.js"></script>
<script src="./assets/js/main.js"></script>

</body>

</html>